<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Staff</h5>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
              Ajouter Staff
            </button>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nom
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Role
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Firas 
                    </td>
                    <td>
                      firas@gmail.com
                    </td>
                    <td>
                      Chef
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Abdelmlak 
                    </td>
                    <td>
                      Abdelmlak@gmail.com
                    </td>
                    <td>
                      Sous Chef
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dhia  
                    </td>
                    <td>
                      Dhia@gmail.com
                    </td>
                    <td>
                      Cuisinier
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sana 
                    </td>
                    <td>
                      sana@gmail.com
                    </td>
                    <td>
                      Stagiaire
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Faouzi 
                    </td>
                    <td>
                      Faouzi@gmail.com
                    </td>
                    <td>
                      Chef partie
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Rami 
                    </td>
                    <td>
                      Rami@gmail.com
                    </td>
                    <td>
                      Commis
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
