<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Stock</h5>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
              Ajouter un produit
            </button>

            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nom
                  </th>
                  <th>
                    Quantité
                  </th>
                  <th>
                    Categorie
                  </th>
                  <th>
                    Prix
                  </th>
                  <th>
                    Fournisseur
                  </th>
                </thead>
           
                <tbody>
                  <tr>
                    <td>
                      Pommes
                    </td>
                    <td>
                      50
                    </td>
                    <td>
                      Fruits
                    </td>
                    <td>
                      0,50 €
                    </td>
                    <td>
                      Fournisseur A
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Blanc de poulet
                    </td>
                    <td>
                      20
                    </td>
                    <td>
                      Viande
                    </td>
                    <td>
                      4,99 €
                    </td>
                    <td>
                      Fournisseur B
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tomates
                    </td>
                    <td>
                      30
                    </td>
                    <td>
                      Légumes
                    </td>
                    <td>
                      0,75 €
                    </td>
                    <td>
                      Fournisseur C
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pâtes
                    </td>
                    <td>
                      40
                    </td>
                    <td>
                      Épicerie
                    </td>
                    <td>
                      1,99 €
                    </td>
                    <td>
                      Fournisseur D
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Lait
                    </td>
                    <td>
                      15
                    </td>
                    <td>
                      Produits laitiers
                    </td>
                    <td>
                      2,99 €
                    </td>
                    <td>
                      Fournisseur E
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Laitue
                    </td>
                    <td>
                      25
                    </td>
                    <td>
                      Légumes
                    </td>
                    <td>
                      1,25 €
                    </td>
                    <td>
                      Fournisseur C
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Steak de bœuf
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      Viande
                    </td>
                    <td>
                      8,99 €
                    </td>
                    <td>
                      Fournisseur B
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pommes de terre
                    </td>
                    <td>
                      35
                    </td>
                    <td>
                      Légumes
                    </td>
                    <td>
                      0,80 €
                    </td>
                    <td>
                      Fournisseur C
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pain
                    </td>
                    <td>
                      50
                    </td>
                    <td>
                      Boulangerie
                    </td>
                    <td>
                      2,49 €
                    </td>
                    <td>
                      Fournisseur F
                    </td>
                  </tr>
                </tbody>
                
         
              </table>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
