<div class="row">
  <div class="col-md-12">
    <div class="col-md-8" *ngIf="showFormStock">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Ajout Stock</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="addStockForm" (ngSubmit)="addStock()">
            <div class="row">

              <div class="col-md-12 pl-1">
                <div class="form-group">
                  <label for="exampleInputName">Nom </label>
                  <input formControlName="name" type="text" class="form-control" placeholder="nom">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Prix</label>
                  <input formControlName="price" type="number" class="form-control" placeholder="prix">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Quantité</label>
                  <input formControlName="quantity" type="number" class="form-control" placeholder="Quantité">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Niveau Minimum du stock</label>
                  <input formControlName="minimumStockLevel" type="number" class="form-control"
                    placeholder="Niveau Minimum du stock">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Date d'expiration</label>
                  <input formControlName="expiryDate" type="date" class="form-control" placeholder="Date d'expiration">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Categorie</label>
                  <select formControlName="stockCategory" class="form-control">
                    <option value="Food">food</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Ajouter Produit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Stock</h5>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"
              (click)="showFormStock = true">
              Ajouter un produit
            </button>

            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nom
                  </th>
                  <th>
                    Quantité
                  </th>
                  <th>
                    Categorie
                  </th>
                  <th>
                    Prix
                  </th>
                  <th>
                    Fournisseur
                  </th>
                  <th>
                    Date d'expiration
                  </th>
                  <th>
                    Niveau minimum Stock
                  </th>
                </thead>

                <tbody>
                  <tr *ngFor="let stock of stockList">
                    <td>
                      {{stock.name}}
                    </td>
                    <td>
                      {{stock.quantity}}
                    </td>
                    <td>
                      {{stock.stockCategory}}
                    </td>
                    <td>
                      {{stock.price}}
                    </td>
                    <td>
                      Fournisseur A
                    </td>
                    <td>
                      {{stock.expiryDate | date:'mediumDate'}}
                    </td>
                    <td>
                      {{stock.minimumStockLevel}}
                    </td>

                  </tr>

                </tbody>


              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>